!!! Nord colors
!!! https://github.com/arcticicestudio/nord
!!#define nord0 #2E3440
!!#define nord1 #3B4252
!!#define nord2 #434C5E
!!#define nord3 #4C566A
!!#define nord4 #16A086
!!#define nord5 #E5E9F0
!!#define nord6 #ECEFF4
!!#define nord7 #8FBCBB
!!#define nord8 #88C0D0
!!#define nord9 #81A1C1
!!#define nord10 #5E81AC
!!#define nord11 #BF616A
!!#define nord12 #D08770
!!#define nord13 #EBCB8B
!!#define nord14 #A3BE8C
!!#define nord15 #B48EAD
!!
!!*.foreground:   nord4
!!*.background:   nord0
!!*.cursorColor:  nord4
!!*fading: 35
!!*fadeColor: nord3
!!
!!*.color0: nord1
!!*.color1: nord11
!!*.color2: nord14
!!*.color3: nord13
!!*.color4: nord9
!!*.color5: nord15
!!*.color6: nord8
!!*.color7: nord5
!!*.color8: nord3
!!*.color9: nord11
!!*.color10: nord14
!!*.color11: nord13
!!*.color12: nord9
!!*.color13: nord15
!!*.color14: nord7
!!*.color15: nord6 

! Gutterslob Light White https://terminal.sexy
! special
*.foreground:   #ffffff
*.background:   #000000
*.cursorColor:  #ffffff

! black
*.color0:       #808080
*.color8:       #9c9c9c

! red
*.color1:       #c48980
*.color9:       #a15048

! green
*.color2:       #8da862
*.color10:      #4b7508

! yellow
*.color3:       #b29b7a
*.color11:      #916f27

! blue
*.color4:       #809bc4
*.color12:      #567cb0

! magenta
*.color5:       #aa88b2
*.color13:      #964e8f

! cyan
*.color6:       #82adad
*.color14:      #4e848a

! white
*.color7:       #bfbfbf
*.color15:      #9c9c9c


! == URxvt settings == !

! Set depth to make transparency work.
URxvt.depth:            32
URxvt.background:       [70]#000000
URxvt.font:             xft:Inconsolata:size=16:antialias=true,xft:Source Code Pro for Powerline:antialias=true:hinting=true:size=14,xft:FontAwesome:antialias=true:size:14
URxvt.scrollBar:        false
URxvt.scrollTtyKeypress:true

! == /URxvt settings == !

! == Rofi settings == !
! 
!!                       NORD COLORS:
!!                       'background', 'border', 'dividing line'
!rofi.color-window:	    #2E3440, #16A086, #16A086
!!                       'bg',   'fg'    'bgalt'   'hlbg'   'hlfg'
!rofi.color-normal:	    #2E3440, #16A086, #2E3440, #5E81AC, #2E3440
!rofi.color-active:	    #16A086, #5E81AC, #00000000, #16A086, #000000
!rofi.color-urgent:	    #16A086, #5E81AC, #00000000, #16A086, #000000
!
!                       'background', 'border', 'dividing line'
rofi.color-window:	    #000000, #16A086, #16A086
!                       'bg',   'fg'    'bgalt'   'hlbg'   'hlfg'
rofi.color-normal:	    #000000, #16A086, #000000, #16A086, #000000
rofi.color-active:	    #16A086, #5E81AC, #000000, #16A086, #000000
rofi.color-urgent:	    #16A086, #5E81AC, #000000, #16A086, #000000


rofi.font:              Inconsolata 11
!rofi.font:              SanFrancisco-Display 12
rofi.fullscreen:        false
rofi.padding:           2
rofi.bw:                1
rofi.case-sensitive:    false
rofi.dpi:               1
rofi.hide-scrollbar:    true
!
! == /Rofi settings == !
